version: '3.5'

services:

  book-service:
    image: mahendrshinde/cg-demo:book-service
    depends_on:
    - db1
    ports:
      - 8080
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://database-1.c3ickf4lalap.us-east-2.rds.amazonaws.com/library
      #SPRING_DATASOURCE_URL: jdbc:mysql://db1:3306/mydb
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root

  student-service:
    image: mahendrshinde/cg-demo:student-service
    depends_on:
    - book-service
    - db1
    ports:
      - 8090:8080
    environment:
      - BOOKSERVICE=http://book-service:8080